<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortalDiagnosticoTecnico</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Index.css" rel="stylesheet" />
</head>
<body>
    <div id='elHeader' class="shadow-custom">
        <div id="top" class="container-header-top">
            <div class="container row" style="color: #fff;">
                <div class='col-md-3 top-sumome btn-center-vertical'>
                    <input id="Button2" type="button" value="cliente" class="btn btn-dark btn-custom-header" onclick="BuscarDatos()" />
                </div>
                <div class="col-md-3 top-sumome btn-center-vertical">
                    <svg class="item-margin-right" style="width: 22px; height: 22px" viewBox="0 0 24 24">
                        <path fill="#FFFFFF" d="M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6A3,3 0 0,0 5,9A3,3 0 0,0 8,12A3,3 0 0,0 11,9A3,3 0 0,0 8,6Z" />
                    </svg>
                    <p style="margin-bottom: 0;">Marcelo G. Maccari</p>
                </div>
                <div class='col-md-3 top-sumome btn-center-vertical'>
                    36786970
                </div>
                <div class='col-md-3 top-sumome btn-center-vertical'>
                    Empleado
                </div>
            </div>
        </div>
        <div class='row' style="background-color: #4B4944; color: #EEEBEB; height: 120px;">
            <div class='col-md-2' style="padding-top: 18px;">
                <img src="~/Files/logoMaqueta.png" alt='' height="70" />
            </div>
            <div class="col-md-3 pt-3">
                <div>
                    <svg style="width: 22px; height: 22px" viewBox="0 0 24 24">
                        <path fill="#FFFFFF" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                    </svg>
                    <span id='spanCliente' style='font-weight: bold'></span>
                </div>
                <div>
                    <svg style="width: 22px; height: 22px" viewBox="0 0 24 24">
                        <path fill="#FFFFFF" d="M22,21H2V3H4V19H6V10H10V19H12V6H16V19H18V14H22V21Z" />
                    </svg>
                    <span id='spanEstadoCuenta' title=''>Estado de Cuenta:&nbsp;</span>
                    <span id='spanEstadoCliente'></span>
                </div>
                <div>
                    <b><span id='spanAntiguedad'></span></b>
                    <img src="~/Files/iconVerde.png" class='boton_chico d-none' alt='' style='margin-left: -10px' />
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <svg version="1.1" width="22" height="22" fill='#FFFFFF' viewBox="0 0 24 24">
                    <path d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h5v-6h4v6h5v-8h3L19,9.3z M10,10c0-1.1,0.9-2,2-2s2,0.9,2,2H10z" />
                </svg>
                <span id='header_direccion'></span>
                <span id='header_localidad_pcia'></span>
                <div style='display: flex; align-items: center;'>
                    <img src="~/Files/Phone-white.png" height="22" alt="Alternate Text" />
                    <select id='cmbTelefonos' class='detalle_combo form-control select-custom' style='float: left' onchange='seleccionaTelefono()'></select>
                </div>
                <div style='display: flex; align-items: center;'>
                    <img src="~/Files/Mail-white.png" height="22" alt="Alternate Text" />
                    <select id='cmbMails' class='detalle_combo form-control select-custom' style='float: left' onchange='seleccionaMail()'></select>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <b>1 Tickets abiertos</b><br />
                <b>1 OT en agenda</b><br />
                Lunes 7 Oct. 8-12hs
            </div>
            @*<div class='col-md-2 btn-center-vertical'>
            <div id="cont_6a2ee781c31970e8a4a568c9d8f7589d">
                <script type="text/javascript" async src="https://www.meteored.com.ar/wid_loader/6a2ee781c31970e8a4a568c9d8f7589d">
                </script>
            </div>
        </div>*@
            <div class='col-md-1' style="padding-top: 18px;">
                <div style='width:110%; display:flex; font-size:9px; justify-content: center;'>
                    <span id='spanCiudad'></span>
                </div>
                <div style='width:125%; display:flex; font-size:9px; justify-content: center;'>
                    <span id='spanEstadoGeneral'></span>
                </div>
                <div style='width:100%; display:flex; align-items: center;'>
                    <div style='width:65%; margin-left:20%'>
                        <img id='imgIcon' src='' style='width:48px; height:48px' alt='' />
                    </div>
                    <div style='width:35%; float:left; '>
                        <span id='spanTemperatura_min'></span>
                        <span id='spanTemperatura_max'></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PortalDiagnosticoTecnico - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
