


<div class="div-partial" style="padding: 30px;">

    <div class='row'>
        <div class='col-12 titulo'>
            <button type="button" class="btn btn-sm" style='margin-left:20px; background:#006BD7; color:#006BD7'>p</button>
            Terminal
        </div>
    </div>
    <div class='col-12' style='padding-left:3rem'>
        <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
        <span class='detalle'>Marca: LG Electronics Inc.</span>
    </div>
    <div class='col-12' style='padding-left:3rem'>
        <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
        <span class='detalle'>Modelo: K10</span>
    </div>
    <div class='col-12' style='padding-left:3rem'>
        <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
        <span class='detalle'>Tecnología: 4G LTE ARG - Smartphone - OS= Android</span>
    </div>
    <div class='col-12' style='padding-left:3rem'>
        <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
        <span class='detalle'>IMEI del Terminal: 354954081485658</span>
    </div>
    <div class='col-12' style='padding-left:3rem'>
        <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
        <span class='detalle'>IMSI: 722341260748383</span>
    </div>

    <div class='col-12' style='padding-left:3rem'>
        <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
        <span class='detalle' style='font-weight:bold !important; color:#00EC76 !important; font-size:1rem !important'>Equipo Habilitado</span>
    </div>

    <div class='col-7' style='height:1px; background:#C6C6C6; margin-left:1.3rem; margin-top:1rem; margin-bottom:1rem'></div>

    <div class='row'>
        <div class='col-12 titulo'>
            <button type="button" class="btn btn-sm" style='margin-left:20px; background:#6F42C1; color:#6F42C1'>p</button>
            Datos
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Servicio 4G: Activo</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Servicio 3G: Activo</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Servicio 32: Activo</span>
        </div>

        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Navegación sin límite de velocidad</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Whatsapp Gratis, no consume datos (No incluye llamadas ni video llamadas)</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Lista de APN configurados en la Red</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <span class='detalle' style='margin-left:20px'>ims</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <span class='detalle' style='margin-left:20px'>DATOS.PERSONAL.COM</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <span class='detalle' style='margin-left:20px'>INTERNET.PERSONAL.COM</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <span class='detalle' style='margin-left:20px'>GPRS.PERSONAL.COM</span>
        </div>
    </div>

    <div class='col-7' style='height:1px; background:#C6C6C6; margin-left:1.3rem; margin-top:1rem; margin-bottom:1rem'></div>

    <div class='row'>
        <div class='col-12 titulo'>
            <button type="button" class="btn btn-sm" style='margin-left:20px; background:#30B8B1; color:#30B8B1'>p</button>
            Voz y SMS
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle' style='color:#00EC76 !important;'>2G/3G Registrado</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle' style='color:#FFCC22 !important;'>VoLTE No Registrado</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle' style='color:#FFCC22 !important;'>Wifi Calling No Registrado</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Llamada en Espera: Activo</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Conferencia Multipartita: Activo</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Identificación de Llamadas: Activo</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Transferencia de Llamadas: Activo</span>
        </div>

        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Envio y Recepcion de SMS: Activo</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Servicio de voz: Activo</span>
        </div>

    </div>

    <div class='col-7' style='height:1px; background:#C6C6C6; margin-left:1.3rem; margin-top:1rem; margin-bottom:1rem'></div>

    <div class='row'>
        <div class='col-12 titulo'>
            <button type="button" class="btn btn-sm" style='margin-left:20px; background:#8080C0; color:#8080C0'>p</button>
            Roaming
        </div>

        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Servicio Provisionado: DDI con Roaming internacional a Argentina y en Destino (DDIRR): Activo</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Activo: No</span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>Operador: - </span>
        </div>
        <div class='col-12' style='padding-left:3rem'>
            <img src="~/Files/Point-white.png" height="10" alt="Alternate Text" />
            <span class='detalle'>País: - </span>
        </div>
    </div>

</div>